@model List<CinemaWeb.Domain.DomainModels.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <a class="btn btn-outline-success" asp-controller="Order" asp-action="ExportAllOrders">Export Orders</a>
    </div>

    <div class="row m-5">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Details about customer</th>
                    <th scope="col">Number of tickets</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];

                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@item.User.UserName</td>
                        <td>@item.TicketsInOrder.Count</td>
                        <td><a asp-action="Details" asp-route-orderId="@item.Id" class="btn btn-info">View Order</a></td>
                        <td><a asp-controller="Order" asp-action="CreateInvoice" asp-route-id="@item.Id" class="btn btn-info">Create Invoice</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>